
:root{
  --default-background-color:  #282a36;
  --branding-color: #ffebeb ;
  --secondary-color: #ff5757;
  --tertiary-color:  #ff5757;
  --highlight-color: #ff8585;
  --main-heading-font-family:  "Playfair Display", serif;
  --font-family: font-family: "Poppins", sans-serif;
}

.project-body{
  margin: 60px 60px 0 60px;
  background-color: var(--branding-color);
}
h1 {
  font-family: var(--main-heading-font-family);
  font-weight: bold;
  font-size: 70px;
  line-height: 1.5;
}
h2, h3, p {
  font-family: var(--font-family);
  line-height: 30px;
}
h2 {
 font-size: 60px;
}
h3{
  font-family: var(--font-family);
  font-size: 30px;
}
p {
  font-size: 16px;
}
.navbar-collapse{
  margin-left: 1150px;

}
.intro {
  color: white;
  background-color: var( --highlight-color);
  padding: 170px 0;
  text-align: center;
}
.btn{
  color: white;
  text-align: center;
  background:  var(--secondary-color) ;
  font-size: 20px;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
}
.project-body{
  padding: 160px 20px;
  text-align: center;
}
.contact-body{
  text-align: center;
}
.advanced-skills {
  display: flex;
  justify-content: space-between;
  margin: 100px 70px;
 
}
.fa-html5{
  color: var(--tertiary-color);
}
.certificate{
  margin-top: 100px;
}

.weather-app{
  display: flex;
  margin: 0 auto;
}
.project-description{
  padding: 20px 60px;
}
@media (max-width:900px){
  h1{
  font-size: 60px;
  }
   h2{
  font-size: 44px;
  }
  .intro{
    padding: 120px 20px;
  }
  .project-description{
    padding: 0;
    text-align: center;
  }
}