
:root{
  --default-background-color:  #282a36;
  --branding-color: #ffebeb ;
  --secondary-color: #ff5757;
  --tertiary-color:  #ff5757;
  --highlight-color: #ff8585;
  --main-heading-font-family:  "Playfair Display SC", serif;
  --font-family: font-family: "Poppins", sans-serif;
}

.project-body{
  margin: 60px 60px 0 60px;
  background-color: var(--branding-color);
}
h1 {
  font-family: var(--main-heading-font-family);
  font-weight: bold;
  font-size: 70px;
  line-height: 1.5;
}
h2 {
  font-size: 64px;
}
p {
  font-size: 16px;
  line-height: 30px;
}
.intro {
  color: var(--branding-color);
  background-color: var(--default-background-color);
  padding: 240px 0;
}
.project-body{
  padding: 160px 20px;
  text-align: center;
}
.contact-body{
  text-align: center;
}
.fa-html5{
  color: var(--tertiary-color);
}
.certificate{
  margin-top: 100px;
}

.weather-app{
  display: flex;
  margin: 0 auto;
}
.project-description{
  padding: 20px 60px;
}
@media (max-width:900px){
  h1{
  font-size: 60px;
  }
   h2{
  font-size: 44px;
  }
  .intro{
    padding: 120px 20px;
  }
  .project-description{
    padding: 0;
    text-align: center;
  }
}