
:root{
  --default-background-color:  #282a36;
  --branding-color: #ffebeb ;
  --secondary-color: #ff5757;
  --tertiary-color:  #ff5757;
  --highlight-color: #ff8585;
  --main-heading-font-family:  "Playfair Display SC", serif;
  --font-family: font-family: "Poppins", sans-serif;
}
h1 {
  font-family: var(--main-heading-font-family);
  font-weight: bold;
  font-size: 70px;
}
h2 {
  font-size: 50px;
}
p {
  font-size: 30px;
}
.intro {
  text-align: center;
  color: var(--branding-color);
  background-color: var(--default-background-color);
  padding: 240px 0;
}
